*{
    margin: 0;
    padding: 0;
}

html, body{
    height:100%;
    min-height: 100vh;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: url("./assets/mario-bg.jpg") center center no-repeat;
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.score{
    font-size: 4em;
    margin-bottom: .5em;
}

.board{
    height: 540px;
    width: 540px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap:80px;
    background:url('/assets/soil.png');
    background-size: cover;
    border-radius: 25px;
    border: 3px solid #fff;
    max-width: 80%; /* Adjust the maximum width as needed */
    margin: 0 auto; 
}

.hole{
    background-color: rgba(96, 47, 1, 0.338);
    border-radius: 50%;
    box-shadow: inset 0 10px 0 7px rgb(53, 21, 6),
                inset 0 20px 20px 15px rgba(0,0,0,.3),
                0 0 5px rgba(0,0,0,.5);
    position: relative;
    overflow: hidden;
}

.hole .mole{
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    animation : raise .3s ease-out;
}

@keyframes raise{
    0%{
        transform: translateX(-50%) translateY(100%);
    }
    100%{
        transform: translateX(-50%) translateY(0);
    }
}

.cursor{
    height: 8vw;
    width: 7vw;
    top: 5vw;
    left: 5vw; 
    position: absolute;
    background-image: url('./assets/hammer.png');
    background-size: 100% 100%;
    transform: translate(-20%, -20%);
    pointer-events: none;

}
.cursor.active{
    transform: translate(-20%, -20%) rotate(-45deg);
}